version: "3.9"

services:
  api:
    build: .
    container_name: file_converter_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis

  redis:
    image: redis:7
    container_name: file_converter_redis
    ports:
      - "6379:6379"
